$font: 'Poppins', sans-serif !important;

ion-content {
    --offset-top: 0px;
    --offset-bottom: 0px;
    --background: white; 
    --color: black;
    --font: $font;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px 0;
        .header {
            flex: 1;
            justify-content: center;
            text-align: center;
            padding-top: 20px;
            .title {
                img {
                    height: 100px;
                    width: 100px;
                }
            }
            h3 {
                color: black;
                font-family: $font;
            }
            p{
                font-family: $font;
            }
        }
        .body {
            flex: 1.5;
            ion-list {
                --background: none;
                background: none;
                margin-bottom: 0!important;
                
                ion-item {
                    --border-color: transparent!important;
                    --highlight-height: 0;
                    --background: #dfe4ea;
                    background: rgba(255,255,255,0.1);
                    border-radius: 4px;
                    margin-bottom: 10px;
                    ion-icon {
                        color: black;
                    }
                    ion-input {
                        --color: black;
                        font-family: $font;
                    }
                }
            }
            ion-button {
                font-family: $font;
            }
        }
        .footer {
            display: flex;
            font-family: $font;
            a {
                color: #06bebd;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}
