<ion-content>
  <div class="container">
    <div class="header">
      <div class="title">
        <img src="../../assets/negocio.png">
      </div>
      <h3>Bem vindo</h3>
      <p>Informe seu usuário e senha =)</p>
    </div>
    <div class="body">
      <ion-list>
       
        <ion-item >
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input placeholder="Email"></ion-input>
        </ion-item>
       
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input placeholder="Senha"></ion-input>
        </ion-item>

      </ion-list>
      <ion-button [routerLink]="['/categories']" expand="block" style="--border-radius: 20px; --background: linear-gradient(to right, #8e2de2, #4a00e0); opacity: 0.86;">
          Entrar
      </ion-button>
      <ion-button expand="block" style="--border-radius: 20px; --background: linear-gradient(to right, #8e2de2, #4a00e0); opacity: 0.86;">
        Recuperar senha
    </ion-button>

      <!-- <ion-item  button (click)="comprar()">
        <ion-label>
          Efetuar pagamento
        </ion-label>
      </ion-item> -->
      <!-- <div *ngIf="paidFor">
        <h5>Pago</h5>
      </div>
      <div #paypal>

      </div> -->
    </div>
    <div class="footer">
      Não possui uma conta?<a [routerLink]="['/register']"> Cadastrar</a>
    </div>
  </div>
</ion-content>
