<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Categorias</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-searchbar align-center placeholder="Buscar"></ion-searchbar>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let categorie of categories" [routerLink]="['/categories', categorie.id]">
      <ion-col col-6>
        <ion-card text-center padding>
            <img [src]="categorie.image" style="display: block; margin: 0 auto; padding-top: 8px;">
          <h2 class="ion-text-center">{{categorie.name}}</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
