$font: 'Poppins', sans-serif !important;

ion-content{
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255,255,255;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;

}

ion-card {
    --ion-background-color: #ffffff;
    background-color: white !important;
    border: none !important;
    font-family: $font;
}

ion-header {
    --ion-background-color: #ffffff;
    background-color: white !important;
}


// ion-toolbar {
//     height: 18vh;
// }

// ion-searchbar {
//     // border-radius: 100% !important; <- mudei porque a borda não estava redonda, qualquer coisa, voltar
//     font-family: $font;
//     // --ion-background-color: white !important;
//     // .searchbar-input.sc-ion-searchbar-ios {
//     //     --ion-background-color: white !important;
    
//     // }
// }

// .sc-ion-searchbar-ios-h {
//     --background: white !important;
//     --box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, -0.8), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
//     // --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//     // --icon-color: black !important
// }

