$font: 'Poppins', sans-serif !important;

ion-content{
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255,255,255;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;
}

// ion-toolbar {
//     height: 18vh;
// }

ion-card-content {
    margin: 0 auto;
}

ion-icon {
    color: green;
    font-size: 24px;
}

// ion-searchbar {
//     display: block;
//     position: relative;
//     // top: 20px !important;
//     margin: 0 auto;
//     width: 80vw;
//     font-family: $font;
// }


button {
    background-color: white !important;
    color: black;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
}

ion-card {
    --ion-background-color: #ffffff;
    background-color: white !important;
    border: none !important;
    font-family: $font;
}

ion-fab-button {
    --background: #6765F7 !important;
    --background-activated: #6765F7;
    --background-focused: #6765F7;
    --background-hover: #6765F7;
}

// .searchbar-input {
//     border-radius: 30px !important;
// }

// .sc-ion-searchbar-ios-h {
//     --background: white !important;
//     --box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, -0.8), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
//     // --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//     // --icon-color: black !important
// }
