<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Categorias</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-searchbar align-center placeholder="Buscar" [(ngModel)]="searchText"></ion-searchbar>
    <!-- Aqui tinha tag padding dentro do ioncontent eu tirei para arrumar o searchbar-->
    <ion-content [scrollEvents]="true">
      <div>
        <div >
          <ion-card *ngFor="let item of itens | filter: searchText">
            <ion-item>
              <ion-avatar item-start>
                <img src="../../assets/img/categories/pet.png" alt="">
              </ion-avatar>
              <p style="color: white"><i> {{item.name}} </i></p>
            </ion-item>

            <ion-card-content>
              <p> Somos uma lojinha que vende papel na região da Mooca a mais de 121 anos.</p>
            </ion-card-content>

            <ion-row>
              <ion-col style="display: flex; justify-content: center; align-items: center;">
                <button ion-button ion-start clear small (click)="openWhatsApp()">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                  <div>Whatsapp</div>
                </button>
              </ion-col>
              <ion-col style="display: flex; justify-content: center; align-items: center;">
                <button ion-button ion-start clear small>
                  <ion-icon name="location-outline"></ion-icon>
                  <div>Endereço</div>
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="scrollContent('top')">
        <ion-fab-button>
          <ion-icon class="top" color="dark" size="large" name="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>