/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
$font: 'Poppins', sans-serif !important;

* {
    outline: none;
}

ion-content{
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;
}

ion-searchbar {
    color: black !important; 
    width: 80vw !important; 
    margin: 0 auto !important; 
    top: -30px !important; 
    display: block !important; 
    position: relative !important; 
    z-index: inherit !important;
    font-family: $font;
}


.searchbar-input {
    border-radius: 30px !important;
    padding-left: 38px !important;
}


// .searchbar-input {
//     border-radius: 30px !important;
// }

.sc-ion-searchbar-ios-h {
    --background: white !important;
    --box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, -0.8), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    // --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    // --icon-color: black !important
}

ion-toolbar {
    height: 18vh;
}
