<ion-content>
    <div class="container">
      <div class="header">
        <div class="title">
          <img src="../../assets/negocio.png">
        </div>
        <h3>Bem vindo</h3>
        <p>Bora fechar negócio? Precisamos de poucas informações.</p>
      </div>
      <div class="body" [formGroup]="loginForm">
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-input formControlName="name" placeholder="Nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-input formControlName="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="reader-outline"></ion-icon>
            <ion-input formControlName="cpfOrCnpj" placeholder="CNPJ ou CPF"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-input formControlName="endereco" placeholder="Endereço"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="list-outline"></ion-icon>
            <ion-select formControlName="category" name="categorys" placeholder="Categorias" style="max-width: 100%; --padding-start: 0 !important">
              <ion-select-option *ngFor="let category of categorys; let i = index" [value]="categorys[i].id">{{categorys[i].categorie}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
          </ion-item>

        </ion-list>
        <!-- <ion-button #paypal expand="block" style="--border-radius: 20px; --background: linear-gradient(to right, #8e2de2, #4a00e0); opacity: 0.86;" (click)="comprar()">
            Pagar R$80
        </ion-button> -->
        <!-- <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
        <div id="paypal-checkout-btn" ></div> -->

        <!-- <ion-item  button (click)="comprar()">
          <ion-label>
            Efetuar pagamento
          </ion-label>
        </ion-item> -->
        <!-- <div *ngIf="paidFor">
          <h5>Pago</h5>
        </div>
        <div #paypal>

        </div>
      -->
        <div #paypal></div>
      
      </div>
      <div class="footer">
        Já possui uma conta?<a [routerLink]="['/login']"> Entrar</a>
      </div>
    </div>
  </ion-content>